body {
  background-image: url('../pic/back-pic.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    /* border-spacing: 10px; /*Optional*/ */
}

.Column {
    display: table-cell;
    /* background-color: white; /*Optional*/ */
}

.pre_div {
    border: 1px solid black; /* Параметры рамки */
    padding: 5px;
}

.Floppa_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-align: left;
    padding-left: 15px;
    vertical-align: middle;
    color: #195a5e;
}

.Big_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    vertical-align: bottom;
    color: #195a5e;
}

.Small_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: #195a5e;
}

input[type=text] {
    /* text-align: center; */
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 80%;
    height: 100%;
    background: white;
    border-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    font-weight: 100;
    border-width: thin;
}

/* input[type=text]:focus {
  background-color: lightblue;
} */

.knopka01 {
  display: block;
  width: 80%;
  height: 30%;
  font-size: 20px;
  text-align: top;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 10px;
  background: #195a5e;
  /* box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px; */
  color: white;
}
.knopka02 {
  /* display: flex; */
  position:relative;
  top:50%;
  left:57%;
  width: 25%;
  height: 50%;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 10px;
  background: #195a5e;
  /* box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px; */
  color: white;
}
/* .knopka01:hover {
  color: #195a5e;
  cursor: pointer;
} */
.knopka01:active, .knopka02:active {
  padding-bottom: 1px;
  box-shadow:
   inset rgba(0,0,0,1) 0 1px 3px,
   inset rgba(0,0,0,.6) 0 -2px 5px,
   inset rgba(252,255,255,.7) 0 2px 5px,
   0 1px rgba(255,255,255,.08);
  color: rgb(128,207,214);
}
